/*Exercício 1: 
    Crie a estrutura dos arquivos de acordo com a extensão que utilizaremos, 
    em seguida, utilize a estrutura html com o head e body. 
    Crie uma div e dentro dela um paragráfo que conterá uma frase
    que você acha impactante e mude de dor a DIV e o paragráfo utilizando
    o css externo. */

p {
    color: #FF4500;
    font-size: 80px;
    text-align: center;
}
.header{
   background-color: #9400D3;
}

/*Exercício 2:
    Crie outra divisória porém com a cor de fundo diferente;
    Dentro da divisória nova insira: 
        1. Título principal.
        2. Imagem com a origem interna -> tem que conter texto explicativo para acessibilidade.
        3. Paragráfo. 
        */
.imagem {
    background-color: #DDA0DD;
    text-align: center;
    font-size: 50px;
    color: #FF6347;
}

.img-cicero {
    width: 500px;
    border-radius: 50px;
}

/*Exercício 3: 
    Utilizando as Classes, crie outra div com cores diferentes, dentro dela uma lista de itens não odernados e um
    paragráfo com uma fonte e tamanho diferente.
    Insira um espaçamento entre o topo da div e abaixo também, para não ficar com os itens muito colados. 
    */
.footer {
    padding: 10px;
    background-color: #FF00FF;
}
    .lista {
    
    font-size: 40px;
    text-align: center;
    
    color:#EEE9E9;
}